<?xml version='1.0' encoding='UTF-8'?>
<settings>
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <name>Artifactory</name>
            <mirrorOf>*</mirrorOf>
            <!-- Novo virtual repository -->
            <!-- LOCAL: <url>http://artifactory:9001/artifactory/public/</url> -->
            <url>http://artifactory:8081/artifactory/public/</url>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>artifactory</id>
            <username>admin</username>
            <password>adminadmin</password>
        </server>
    </servers>
</settings>
